@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #1A1A1A;
  --primary: #C71585;
  --secondary: #FFFDD0;
  --accent: #FF69B4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow-x: hidden;
}
